:root{
    --body-font: "inter", sans-serif;
    --h1-size: 3rem;
    --text-dark: #333;
    --border-color: #ccc;
    --description-color: #fefce8;
}

body{
    font-family: var(--body-font);
}

main{
    margin: 6rem;
}

.section-container{
    width: 100%;
}

.two-column1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.two-column2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 6rem;
}

a{
    text-decoration: none;
}
.links{
    color: #64748b;
    font-size: .875rem;
    font-weight: 600;
}

.links :hover{
    color: #40526b;
    font-size: .875rem;
    text-decoration: underline;
}

.link-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-text p {
    margin: .5rem;
    padding: .5rem .7rem;
    background-color: #f1f5f9;
    border-radius: .3rem;
    font-size: .75rem;
    font-weight: 500;
}

.title-texts p{
    max-width: 56rem;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.75rem;
    margin: 1rem 0 1rem 0;
    font-weight: 400;
    color: #334155;
}

.header-texts .links .slant::after{
    content: "";
    border: 1px solid grey;
    margin: 0 .4rem;
}

.text-button{
    border-style: none;
    background-color: transparent;
    color: #03a5e9;
    font-size: .875rem;
    font-weight: 600;
}

.text-button:hover{
    color: #0082b9;
    transition: .5s ease;
}

h1{
    font-size: var(--h1-size);
    color: var(--text-dark);
    margin: .65rem 0 0 0;
}

h4{
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
}

.cards{
    margin-top: 2.5rem;
}

.card-holder{
    width: 100%;
    border: 2px solid var(--border-color);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-text {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    box-sizing: border-box;
}

/* WITH DESCRIPTION */

.attention-needed{
    height: auto;
    background-color: #fefce8;
    margin: 2rem 1rem;
    border-radius: .3rem;
    box-sizing: border-box;
}

.content-text .description{
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: .6rem;
    box-sizing: border-box;
}

.fa-triangle-exclamation{
    color: #facc15;
}

.description p{
    margin: .4rem 0 0 0;
    font-size: .875rem;
    color: #a16207;
    box-sizing: border-box;
}

.description{
    color: #854d0e;
}

/* WITH LIST */

.with-list {
    height: auto;
    background-color: #fef2f2;
    color: #991b1b;
    margin: 2rem 1rem;
    padding-right: 18rem;
    padding-bottom: 0;
    border-radius: .3rem;
    box-sizing: border-box;
}

.fa-circle-xmark {
    padding-top: .3rem;
    color: #f87171;
}

.content-text .list {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: .6rem;
    box-sizing: border-box;
}

/* WITH ACTIONS */

.with-action {
    height: auto;
    background-color: #f0fdf4;
    color: #166534;
    margin: 2rem 1rem;
    padding-right: 9rem;
    border-radius: .3rem;
    box-sizing: border-box;
}

.fa-circle-check{
    color: #4ade80;
}

.content-text .action {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: .6rem;
    box-sizing: border-box;
}

.link-action{
    padding-top: 1rem;
    font-weight: 500;
    font-size: .9rem;
    letter-spacing: -.5px;
}

.link-action a{
    color: #166534;
}

.link-action .view{
    padding: .6rem;
    margin-right: 1rem;
    align-items: center;
    border-radius: .5rem;
}

.link-action .view:hover{
    background-color: #dffde8;
}

.link-action .dis{
    padding: .6rem 1rem;
    margin-right: 1rem;
    align-items: center;
    border-radius: .5rem;
}

.link-action .dis:hover {
    background-color: #dffde8;
}

/* WITH LINK ON RIGHT */

.with-link-right {
    height: auto;
    background-color: #eff6ff;
    color: #1d4ed8;
    margin: 2rem 1rem;
    border-radius: .3rem;
    box-sizing: border-box;
}

.with-link-right .content-text{
    padding: 1rem;
    font-size: .875rem;
}

.link-right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link-txt{
    padding-right: 23rem;
    font-size: .875rem;
}

.fa-circle-info{
    padding-right: .5rem;
    color: #60a5fa;
}

.linkn a{
    color: #1d4ed8;
    font-size: .875rem;
    font-weight: 500;
}

/* ACCENT BORDER */

.with-accent-border {
    height: auto;
    background-color: #fefce8;
    color: #854d0e;
    margin: 2rem 1rem;
    padding-right: 18rem;
    border-left: solid 4px #fae313;
    box-sizing: border-box;
}

.with-accent-border .content-text {
    padding: 1rem;
    font-size: .875rem;
}

.accent-border .accent-txt{
    margin: 0;
}

.accent-txt span{
    font-weight: 500;
    text-decoration: underline;
}