:root{
    --body-font: "inter", sans-serif;
    --h1-size: 3rem;
    --text-dark: #333;
    --border-color: #ccc;
    --description-color: #fefce8;
}

body{
    font-family: var(--body-font);
}

main{
    margin: 6rem;
}

.section-container{
    width: 100%;
}

.two-column{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.links{
    color: #64748b;
    font-size: .875rem;
    font-weight: 600;
    text-decoration: none;
}

.links :hover{
    color: #40526b;
    font-size: .875rem;
}

.link-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-text p {
    margin: .5rem;
    padding: .5rem .7rem;
    background-color: #f1f5f9;
    border-radius: .3rem;
    font-size: .75rem;
    font-weight: 500;
}

.header-texts .links .slant::after{
    content: "";
    border: 1px solid grey;
    margin: 0 .4rem;
}

.text-button{
    border-style: none;
    background-color: transparent;
    color: #03a5e9;
    font-size: .875rem;
    font-weight: 600;
}

.text-button:hover{
    color: #0082b9;
    transition: .5s ease;
}

h1{
    font-size: var(--h1-size);
    color: var(--text-dark);
}

h4{
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
}

.card-holder{
    width: 100%;
    border: 2px solid var(--border-color);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.attention-needed{
    height: auto;
    background-color: #fefce8;
    margin: 2rem 1rem;
    border-radius: .3rem;
    box-sizing: border-box;
}

.content-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    box-sizing: border-box;
}

.content-text .text{
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: .6rem;
    box-sizing: border-box;
}

.fa-triangle-exclamation{
    color: #facc15;
}

.text p{
    margin: .4rem 0 0 0;
    font-size: .875rem;
    color: #a16207;
    box-sizing: border-box;
}

.text .attn{
    color: #854d0e;
}



